* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'open sans', sans-serif;

}

.contenar {

    margin: 10px auto 70px;
    perspective: 600px;
}

.icon {
    color: rgb(14, 13, 13);
    display: inline;
    cursor: pointer;
    margin-left: 30px;
}

.icon:hover {
    opacity: .7;
    color: rgb(20, 20, 19);
}

.hide,
.show {
    width: 100px;
    height: 170px;
    direction: rtl;
    background-color: rgba(46, 46, 46, .7);
    line-height: 30px;
    margin-left: 65px;
    position: absolute;
    border: solid 1px #121212;
    display: none;
}

.show {
    display: flex;
}

.show a {
    text-decoration: none;
    color: #fff;
}

.logo {
    width: 450px;
}

.sign {
    padding: 15px;
    margin-left: 600px;
    display: inline;
}

.sign a {
    padding-left: 15px;
    text-decoration: none;
}

/* start nav */
nav {
    background-color: #3b3a3a;
    height: 30px;
    width: 910px;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
}

.show a:hover,
.sign a:hover,
nav a:hover,
.right a p:hover {
    color: chocolate;
}

@media (max-width: 767px) {
    nav a {
        padding: 3px;
    }

    nav {
        height: 30px;
        width: 450px;
        margin-left: 0px;
    }

    .sign {
        padding: 0;
        margin-left: 50px;
    }

    .breaking {
        width: 450px;
        margin-left: 0px;
    }
}

.breaking {
    background-color: #444;
    border: 2px solid #444;
    color: white;
    font-size: 18px;
    height: 30px;
    width: 910px;
    padding: 3px;
    margin: 10px 0 0 30px;
}

marquee {
    border: 2px solid #444;
    background-color: red;
    color: #fff;
    height: 30px;
    width: 775px;
    float: right;
    margin: -4px -4px 0 0;
}

marquee span {
    color: black;
}

@media (max-width: 767px) {
    .breaking {
        width: 450px;
        margin-left: 0px;
    }

    marquee {
        width: 326px;
    }
}

/* End nav */

/* start main */


.page1 {
    margin: 0 0 0 30px;
}

.page2 {
    margin: 0 0 0 490px;
}

.page3 {
    margin: 205px 0 0 490px;
}

.page4 {
    margin: 205px 0 0 720px;
}

.main {
    margin: -40px 0 0 0px;
}

.page1,
.page2,
.page3,
.page4 {
    transition: .2s;
    position: absolute;
}

@media (max-width: 767px) {
    .page1 {
        margin: 0px;
    }

    .page2 {
        margin: 410px 0 0 0px;
    }

    .page3 {
        margin: 615px 0 0 0px;
    }

    .page4 {
        margin: 615px 0 0 230px;
    }




}

.page1 a img {
    height: 400px;
    width: 450px;
}

.page2 a img {
    height: 195px;
    width: 450px;
}

.page3 a img,
.page4 a img {
    height: 195px;
    width: 220px;
}

.page1:hover,
.page2:hover,
.page3:hover,
.page4:hover,
.newsLinks:hover,
.right img:hover {
    transform: translate3d(0, 0, 10px);
}

.page1 a span {
    margin-top: 235px;
}

.page1 a span,
.page2 a span,
.page3 a span,
.page4 a span {
    background-color: rgba(24, 22, 22, 0.8);
    position: absolute;
    padding: 2px;
    margin-left: 20px;
    color: #fff;
}

.page2 a span,
.page3 a span,
.page4 a span {
    margin-top: 55px;
}

.page1 p,
.page2 p,
.page3 p,
.page4 p {
    text-decoration: none;
    position: absolute;
    padding: 20px;
    color: #fff;
}

.page1 p {
    margin-top: 250px;
}

.page2 p {
    margin-top: 60px;
}

.page3 p,
.page4 p {
    margin-top: 57px;
}

/* end main */

.display-width {
    margin: 490px 0px 0 35px;
    width: auto;
    height: 350px;
    display: flex;
}

@media (max-width: 767px) {
    .display-width {
        margin: 894px -81px 0 0;
    }

    .newsInfo .image {
        height: 250px;
        width: 200px;
    }

    .newsInfo .image img {
        height: 250px;
        width: 200px;
    }
}

#mainNews {
    background-color: #5d5d5d;
    float: right;
    width: 400px;
}

.newsInfo {
    border: 2px solid #000;
    display: none;
    float: right;
    margin: 8px;
    width: 384px;
}

.newsInfo .image {
    height: 250px;
    width: 380px;
}

.newsInfo .image img {
    height: 250px;
    width: 385px;
}



.newsInfo .label1 {
    background-color: rgb(53, 49, 252);
    border-top: 2px solid rgb(58, 54, 54);
    height: 55px;
    padding: 5px;
    width: 380px;
}

.newsInfo .label1 a {
    display: block;
    height: 48px;
    margin: 0 5px;
    overflow: hidden;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-align: justify;
    text-decoration: none;
}

#subNews {
    float: right;
    height: 287px;
    width: 220px;
}

.top-0 {
    margin-top: 0px !important;
}

.newsLinks {
    cursor: pointer;
    background-color: #444;
    background-image: url("https://img.youm7.com/images/general/mainNewsLinksBg.gif?1");
    background-position: right top;
    /* background-repeat: repeat-y; */
    border-color: #3b3a3a -moz-use-text-color #3b3a3a #3b3a3a;
    /* border-image: none; */
    border-style: solid none solid solid;
    border-width: 2px medium 2px 2px;
    height: 61px;
    margin: 5px -5px;
    width: 230px;
}

@media (max-width: 767px) {
    .newsLinks {

        height: 61px;
        margin: -112px -328px;
        width: 230px;
    }
}

.newsLinks h4,
.newsLinks h3 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    text-align: right;
    padding-left: 5px;
    text-decoration: none;
    display: block;
    height: 42px;
    line-height: 19px;
    margin: 20px -30px;
    overflow: hidden;
    width: 225px;
}

.newsLinks.selected {
    background-color: rgb(53, 49, 252);
    background-image: url("https://img.youm7.com/images/general/mainNewsLinksSBg.gif?1");
    border-color: rgb(53, 49, 252);
    border-width: 2px medium 2px 2px;
}

.right {
    width: 270px;
    height: 270px;
    text-decoration: none;
}

.right a {
    text-decoration: none;
}

.right a p {
    margin-left: 15px;
    font-size: 14px;
    color: #121212;
    text-align: center;
}

.right img {
    width: 270px;
    height: 270px;
    margin-left: 15px;
}

@media (max-width: 767px) {
    .right {
        display: none;
    }
}